.galleryContainer {
  display: grid;
  grid-template-rows: repeat(4, 200px);
  margin: 0 auto;
  gap: 12px;
  position: relative;
}

@media (min-width: 768px) {
  .galleryContainer {
    grid-template-rows: repeat(2, 200px);
  }
}

@media (min-width: 1024px) {
  .galleryContainer {
    grid-template-rows: repeat(2, 260px);
    gap: 24px;
  }
}
