.galleryContainer {
  display: grid;
  grid-template-rows: repeat(4, 200px);
  margin: 0 auto;
  gap: 12px;
  position: relative;
}

.imageContainer {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 85%;
}

.gridItem3 {
  grid-column: 1 / span 2;
}

.gridItem4 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.activeImage {
  position: fixed;
  z-index: 20;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.activeImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.activeImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: 70%;
}

.details {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .galleryContainer {
    grid-template-rows: repeat(2, 200px);
  }
  .gridItem1 {
    grid-column: 3 / span 1;
  }

  .gridItem2 {
    grid-column: 4 / span 1;
  }

  .gridItem3 {
    grid-column: 3 / span 2;
  }

  .gridItem4 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .theme0.activeImage::after,
  .theme1.activeImage::after,
  .theme3.activeImage::after {
    content: none;
    background-color: transparent;
  }

  .theme2.activeImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
}

@media (min-width: 1024px) {
  .galleryContainer {
    grid-template-rows: repeat(2, 260px);
    gap: 24px;
  }
}
