.sectionContainer {
  width: 100%;
  background-color: var(--color-black);
}

.infoContainer {
  max-width: 1280px;
  padding: 5rem 1rem;
  margin: 0 auto;
}

.subtitle {
  color: var(--color-white);
  font-size: var(--font-h2);
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  margin-bottom: 2rem;
}

.info {
  color: var(--color-white);
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.accent {
  color: var(--color-accent);
}

@media (min-width: 768px) {
  .infoContainer {
    padding: 8rem 2rem;
  }
}
