.aboutContainer {
  width: 100%;
  background-color: var(--color-surface);
  margin-top: 7rem;
}

.wrapperInfo {
  max-width: 1280px;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.infoContainer {
  display: flex;
  flex-direction: column-reverse;
  max-width: 1280px;
}

.subtitle {
  color: var(--color-white);
  font-size: var(--font-h2);
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1rem;
}

.textContainer {
  padding: 1rem 0;
}

.accent {
  color: var(--color-accent);
}

.info {
  font-family: var(--font-secondary);
  color: var(--color-white);
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0.5rem 0.5rem;
}

.imageContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(18, 18, 18, 0.2) 80%,
    var(--color-surface) 100%
  );
}

.imageD,
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imageD {
  display: none;
}

@media (min-width: 768px) {
  .wrapperInfo {
    padding: 0 2rem 2rem;
  }
  .infoContainer {
    flex-direction: row;
    align-items: stretch;
  }

  .imageContainer {
    flex: 1.3;
    aspect-ratio: 2/1;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -6rem;
    position: relative;
    z-index: 2;
    flex: 1;
  }

  .imageContainer {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .imageContainer::after {
    background: linear-gradient(
      to right,
      #121212 0%,
      rgba(18, 18, 18, 0.2) 20%,
      rgba(0, 0, 0, 0) 50%,
      rgba(18, 18, 18, 0.2) 80%,
      #121212 100%
    );
  }
}
