.aboutContainer {
  width: 100%;
  background-color: var(--color-surface);
  margin-top: 7rem;
}

.infoContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 1rem;
}

.subtitleInfo,
.subtitle {
  color: var(--color-white);
  font-size: var(--font-h2);
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1rem;
}

.textContainer {
  padding: 0 1rem;
  border-left: 1px solid #bababa;
}

.accent {
  color: var(--color-accent);
}

.info {
  color: var(--color-white);
  margin-bottom: 24px;
}

.skillsWrapper {
  padding: 0;
  border-right: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.subtitlesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 36px auto 0;
  position: relative;
  max-width: 500px;
}

.subtitleInfo {
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 0;
  text-align: right;
  display: flex;
  cursor: pointer;
  padding: 0 12px;

  display: inline-block;
  background-size: 0 100%;
  background-image: linear-gradient(120deg, #fff, #fff);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
  background-origin: border-box;
}

.subtitleInfo:hover {
  background-size: 100% 100%;
  font-weight: 600;
  color: #000;
}

.subtitleInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
}

.subtitleInfo::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
}

.subtitleInfo:nth-of-type(1),
.subtitleInfo:nth-of-type(2) {
  align-self: flex-start;
}

@media (min-width: 768px) {
  .infoContainer {
    padding: 8rem 2rem;
  }

  .textContainer {
    padding: 0 2rem 4rem;
  }

  .skillsWrapper {
    flex-direction: row;
    padding: 0 2rem;
    border-right: 1px solid #bababa;
  }

  .subtitlesWrapper {
    width: fit-content;
  }

  .subtitleInfo::after,
  .subtitleInfo::before {
    display: none;
  }

  .subtitleInfo:nth-of-type(1),
  .subtitleInfo:nth-of-type(2) {
    align-self: flex-end;
  }
}
