.sectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 50px auto;
  padding: 34px;
  gap: 24px;
  background-color: var(--color-surface);
}

.subtitle {
  color: var(--color-white);
  font-size: var(--font-h2);
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.accent {
  color: var(--color-accent);
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  position: relative;
}

.imageWrapper {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

.galleryImage {
  width: 100%;
  height: auto;
  display: block;
}

.activeImage {
  position: fixed;
  z-index: 20;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.activeImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.details {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
