.sectionBackground {
  width: 100%;
}

.infoContainer {
  max-width: 1280px;
  width: 100%;
  padding: 5rem 1rem;
  margin: 0 auto;
}

.subtitle {
  color: var(--color-white);
  font-size: var(--font-h2);
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  display: block;
  margin-bottom: 2rem;
}

.accent {
  color: var(--color-accent);
}

.galleryContainer {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 0 auto;
}

.imageWrapper {
  flex: 1;
  max-height: 260px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.activeImage {
  position: fixed;
  z-index: 20;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.activeImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: 70%;
}

.details {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}

@media (min-width: 768px) {
  .infoContainer {
    padding: 8rem 2rem;
  }

  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .imageWrapper {
    max-height: 300px;
  }
}
