.sectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 50px auto;
  padding: 34px;
  gap: 24px;
  background-color: var(--color-surface);
}

.subtitle {
  color: var(--color-white);
  font-size: var(--font-h2);
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.accent {
  color: var(--color-accent);
}

.imageContainer {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
