.navbarSection {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-black);
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}

.navList {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 78px);
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  background-color: var(--color-black);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  color: var(--color-white);
  transition: 0.3s ease all;
  transform: translate(-100%);
}

.navLink {
  line-height: normal;
  text-align: center;
}

.navLink a {
  display: block;
  padding: 8px;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  width: 46px;
  height: 46px;
}
.navList.isActive {
  transform: translate(0);
}

@media (min-width: 768px) {
  .navbarSection {
    position: fixed;
    z-index: 10;
    background-color: transparent;
  }

  .navbarContainer {
    padding: 2rem;
  }
  .toggleMenu {
    display: none;
  }

  .navList {
    transform: none;
    position: static;
    height: auto;
    flex-direction: row;
    background-color: transparent;
  }

  .navList.isActive {
    transform: none;
  }
}
