.carousel {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  height: 130px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.list {
  display: flex;
  width: 100%;
  min-width: calc(80px * var(--quantity));
  position: relative;
}

.carouselItem {
  box-sizing: border-box;
  background-color: var(--color-black);
  width: 80px;
  height: 80px;
  position: absolute;
  left: 100%;
  animation: autoRun 20s linear infinite;
  animation-delay: calc((20s / var(--quantity)) * (var(--position)));
  border: 1px var(--color-surface) solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imgContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselItem img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: calc(80px * -1);
  }
  to {
    left: 100%;
  }
}

.carousel:hover .carouselItem {
  animation-play-state: paused !important;
  opacity: 0.5;
}

.carousel .carouselItem:hover {
  border: 1px var(--color-accent) solid;
  opacity: 1;
}

@media (min-width: 768px) {
  .carouselItem {
    width: 140px;
    height: 130px;
  }

  .imgContainer {
    width: 50px;
    height: 50px;
  }

  .list {
    min-width: calc(140px * var(--quantity));
  }

  @keyframes autoRun {
    from {
      left: calc(140px * -1);
    }
    to {
      left: 100%;
    }
  }
}
