* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #9a9a9a;
  --color-surface: #121212;
  --color-border: #1e1e1e;
  --color-accent: #00f2d6;
  --font-display: 40px;
  --font-h1: 32px;
  --font-h2: 24px;
  --font-h3: 20px;
  --font-subtitle: 18px;
  --font-body: 16px;
  --font-caption: 14px;
  --font-overline: 12px;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fira Sans", sans-serif;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}
